<form autocomplete="off">
  <div class="container">
    <div class="intro-text">
        <h1>Welcome Back!</h1>

    </div>
    <div class="inputs">
      <input autocomplete="false" name="hidden" type="text" style="display:none;">
        <div class="input">
            <input type="text" name="email" id="email" required autocomplete="off"/>
            <label for="email">
                Email
            </label>
        </div>
        <div class="input">
            <input type="password" name="password" id="password" required autocomplete="off"/>
            <label for="password">
                Password
            </label>
        </div>
    </div>
    <label  class=""><input type="checkbox" name="remember">    Remember Me</label>

    <button>Login</button>
    <p class="join-link">New to this site? <a href="#">Sign Up</a></p>
  </div>

</form>
