

  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">

        <a href="/home" class="list-group-item list-group-item-action py-2 ripple"
          ><span>Home</span></a
        >
        <a href="/about" class="list-group-item list-group-item-action py-2 ripple"
          ><span>About</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <span>Demo1</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"
          ><span>Demo2</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"
          ><span>Demo3</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"
          ><span>Demo4</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"
          ><span>Demo5</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"
          ><span>Demo6</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"
          ><span>Demo7</span></a
        >
      </div>
    </div>
  </nav>



